/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.rightSidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: white;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 15px -0px rgb(0, 0, 0, .3);
            box-shadow: 0px 0px 15px -0px rgb(0, 0, 0, .3);
    z-index: 996;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.rightSidebar .closeIcon {
    text-align: right;
}

.rightSidebar .bgImage {
    padding: 20px 0 0 0;
    width: 150px;
}

.rightSidebar .bgImage > * {
    margin: 3px 0;
}

.rightSidebar .bgImage > input[type='submit'] {
    padding: 0 5px;
}

@media(min-width: 2000px) {
    .rightSidebar {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 10px 50px;
        /* width: 500px; */
    }

    /* .chrome-picker {
        width: 400px;
    } */
}