.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    height: var(--bodyHeight);
    background-image: url('./bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.welcome > .name {
    position: absolute;
    top: 20px;
    left: 30px;
}

.welcome .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.welcome .container img {
    width: 250px;
}

.welcome .container .box h1 {
    font-size: 2.7rem;
    text-shadow: 0 0 1.5px white;
}

.welcome .container .box p {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;

    cursor: pointer;
    padding: 11px 15px;
    font-weight: 800;
    width: 140px;
    border-radius: 3px;
    background-color: rgba(95, 39, 205,1.0);
    transition: letter-spacing .3s ease-in-out;
}

.welcome .container .box p:hover {
    letter-spacing: 3px;
}


@media(max-width: 768px) {
    /* .welcome {
        font-size: .8rem;
    } */
    
    .welcome {
        align-items: flex-end;
    }

    .welcome .name {
        top: 8px;
        left: 8px;
        font-size: 1.5rem;
    }

    .welcome .container img {
        width: 160px;
    }

    .welcome .container {
        font-size: .8rem;
        flex-direction: column;
        gap: 0;
        height: 95%;
        /* justify-content: space-around; */
        justify-content: space-evenly;
    } 

    .welcome .container .box h1 {
        font-size: 2rem;
    }
}

@media(min-width: 2000px) {
    html {
        font-size: 40px;
    }

    .welcome .container {
        gap: 450px;
    }

    .welcome .container .box p {
        width: 250px;
        padding: 20px 30px;
    }

    .welcome .container img {
        width: 500px;
    }
}