/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.sidebar {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 996;

    min-width: 250px;
    height: var(--bodyHeight);
    padding: .8rem 1rem;
    
    background-color: #ffffff;
    overflow: auto;


    -webkit-box-shadow: 5px 0 5px -3px rgba(0, 0, 0, .3);
            box-shadow: 5px 0 5px -3px rgba(0, 0, 0, .3);

    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .sidebarTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    gap: 15px;
}

.sidebar .sidebarTop > svg {
    margin: 0 0 5px 0;
}

.sidebar .sidebarSearch {
    background-color: rgb(240, 240, 240);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    border-radius: 3px;
    padding: .5rem .7rem;
    margin: 0 0 5px 0;
    border-bottom: solid 2px var(--mainColor);
}

.sidebar .sidebarSearch input {
    width: 125px;
    /* width: 12rem; */
    background-color: transparent;
    border: none;
    outline: none;
}

.sidebar .sidebarRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* padding: 20px 0; */
    padding: 1.2rem 0;
}

.sidebar .sidebarRow img {
    width: 25px;
}

.sidebar .sidebarRow svg {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

@media(min-width: 2000px) {
    .sidebar .sidebarRow h4 {
       padding: 0 30px; 
    }

    .sidebar .sidebarSearch {
        width: 300px;
    }
}